<app-page-subtitle [subtitle]="'Edit coordinates'"></app-page-subtitle>

<form [formGroup]="fieldNameGroup">
    <mat-form-field appearance="outline" class="col-md-12">
        <mat-label>Latitude</mat-label>
        <input matInput formControlName="latitude" value="{{data.coordinates[0]}}"
            [ngClass]="{ 'is-invalid': submitted && latitudeControlError }">
        <div *ngIf="submitted && latitudeControlError" class="invalid-feedback">
            <div *ngIf="latitudeControlError.required">This field can't be empty.</div>
        </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-md-12">
        <mat-label>Longitude</mat-label>
        <input matInput formControlName="longitude" value="{{data.coordinates[1]}}"
            [ngClass]="{ 'is-invalid': submitted && longitudeControlError }">
        <div *ngIf="submitted && longitudeControlError" class="invalid-feedback">
            <div *ngIf="longitudeControlError.required">This field can't be empty.</div>
        </div>
    </mat-form-field>
</form>

<!-- Edit button -->
<button mat-stroked-button color="primary" matTooltip="submit" class="ml-3"
    (click)="onSubmit()">Submit</button>

<!-- Close button -->
<button mat-stroked-button (click)="closeDialog()" color="primary" matTooltip="cancel" class="ml-4">Cancel</button>
