<div class="container-fluid mt-2 mb-2">
  <div class="input-group col-md-4">
    <input type="text" class="form-control" placeholder="Search location here.." #locationName>
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary"
              (click)="googleMapsService.findForestOnMap(locationName.value)">Search
      </button>
    </div>
  </div>
  <div class="col-md-4 mt-2">
    <div [hidden]="googleMapsService.isValidLocation" class="alert alert-danger alert-dismissible" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>Invalid Location!
    </div>
  </div>
</div>
