<app-page-subtitle [subtitle]="'Add new tree type'"></app-page-subtitle>

<mat-form-field class="col-md-12">
    <mat-label>select one or more tree types</mat-label>
    <mat-select [formControl]="treeTypes" multiple required>
        <mat-option *ngFor="let treeType of treeTypeList" [value]="treeType.type">{{treeType.type}}</mat-option>
    </mat-select>

    <mat-error *ngIf="treeTypes.hasError('required')">Please choose minim a tree type forest.</mat-error>
</mat-form-field>

<!-- Save button -->
<button mat-stroked-button color="primary" matTooltip="submit" class="ml-3" (click)="onSubmit()">Save</button>

<!-- Close button -->
<button mat-stroked-button (click)="closeDialog()" color="primary" matTooltip="cancel" class="ml-4">Cancel</button>
