<div class="container col-md-4">
  <div class="login-wrapper medium-margin-top" fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="transparent-bg">
      <mat-card-title class="text-center">Login</mat-card-title>

      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control">
          <div class="invalid-feedback">
            <div>Email address is required.</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" />
        </div>

        <div class="form-group text-center">
          <button class="btn btn-primary">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
