<div class="container mt-4 col-md-5">
  <form [formGroup]="changePasswordForm">

    <!--  Current Password Field  -->
    <mat-form-field appearance="outline" class="col-md-11">
      <mat-label>Current password</mat-label>
      <input matInput formControlName="current_password" [type]="hideCurrentPassword ? 'password' : 'text'"
             [ngClass]="{ 'is-invalid': submitted && this.formControl.current_password.errors }"/>

      <button mat-icon-button matSuffix (click)="toggleCurrentPasswordBtn()" [attr.aria-pressed]="hideCurrentPassword">
        <mat-icon matTooltip="{{hideCurrentPassword ? 'show' : 'hide'}}">
          {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <app-form-control></app-form-control>
    </mat-form-field>

    <!--  New Password Field  -->
    <mat-form-field appearance="outline" class="col-md-11">
      <mat-label>New password</mat-label>
      <input matInput formControlName="new_password" [type]="hideNewPassword ? 'password' : 'text'"
             [ngClass]="{ 'is-invalid': submitted && this.formControl.new_password.errors }"/>

      <button mat-icon-button matSuffix (click)="toggleNewPasswordBtn()" [attr.aria-pressed]="hideNewPassword">
        <mat-icon matTooltip="{{hideNewPassword ? 'show' : 'hide'}}">
          {{hideNewPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <app-form-control></app-form-control>
    </mat-form-field>

    <!-- Confirm New Password Field  -->
    <mat-form-field appearance="outline" class="col-md-11">
      <mat-label>Confirm new password</mat-label>
      <input matInput formControlName="password_confirmation" [type]="hideConfirmPassword ? 'password' : 'text'"
             [ngClass]="{ 'is-invalid': submitted && this.formControl.password_confirmation.errors }"/>

      <button mat-icon-button matSuffix (click)="toggleConfirmPasswordBtn()" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon matTooltip="{{hideConfirmPassword ? 'show' : 'hide'}}">
          {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </button>
      <app-form-control></app-form-control>
    </mat-form-field>

    <div class="text-center col-md-11">
      <button mat-stroked-button class="btn-block" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
